
# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

SHADOW_DATABASE_URL=

SECRET_KEY=
PORT=   
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_EXPIRY=

CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=
GROQ_API_KEY=